.loginbg {
  background: #ee7752;
  width: 100vw;
  height: 100vh;
  padding: 80px 10px;
  min-width: 250px;
}

.formWrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 10px auto;
}

.widthInput {
  width: 100%;
}

.bg {
  background-image: url('https://us-wd.gr-cdn.com/getresponse-blog/sites/5/2019/10/0837/growth-hacking-dlya-biznesa.jpg');
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:40px 40px;
}

