.loginbg {
  background: #ee7752;
  width: 100vw;
  height: 100vh;
  padding: 80px 10px;
  min-width: 250px;
}

.formWrapper {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: 10px auto;
}